/* Container for the dashboard */
.dashboard-container {
  display: flex;
  width: 100%;
}

/* Container for the task table */
.task-table-container {
  flex: 1; 
  padding: 10px;
}

/* Container for the pie chart */
.pie-chart-container {
  flex: 1; 
  padding: 10px;
}
