.dashboard-container {
    display: flex;
    width: 100%;
  }
  
  .task-table-container {
    flex: 1; /* This will make the task table container take up 50% of the width */
    padding: 10px;
  }
  
  .pie-chart-container {
    flex: 1; /* This will make the pie chart container take up the remaining 50% of the width */
    padding: 10px;
  }
  