<div class="login-container">
  <h2 class="login-heading">Login</h2>
  <form  class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <!-- <label for="email">Email</label> -->
      <input type="email" id="email" class="login-input" placeholder="Enmail" formControlName="email" required>
      
      <div *ngIf="isFieldInvalid('email')" class="invalid-feedback">
        Please enter a valid email address.
      </div>
    </div>

    <div class="form-group">
      <!-- <label for="password">Password</label> -->
      <input type="password" id="password" class="login-input" placeholder="Password" formControlName="password" required>
      <div *ngIf="isFieldInvalid('password')" class="invalid-feedback">
        Please enter your password.
      </div>
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>

  <p>Don't have an account? <a routerLink="/signup">Sign up</a></p>
</div>


<router-outlet></router-outlet>