<div class="navbar">
  <h2 class="main-heading">Task-Manager</h2>
  <div class="user-info">
    <a [routerLink]="['/user-profile']" class="user-email-link">{{ userEmail }}</a>
    <img *ngIf="userProfileImage" [src]="userProfileImage" alt="Profile Picture" class="profile-picture">
  </div>
</div>

<div>
    <div class="toggle-button-row" (click)="toggleSideOut()">
        <mat-icon>menu</mat-icon>
    </div>
</div>

<div class="slide-out-panel" [class.slide-out]="isSideOut">
    <div class="slide-out-content">
        <h3 class="nav">To-Do</h3>
        <p class="edit-col" (click)="onHome()">Home</p>
        <p class="edit-col" (click)="onProfile()">Profile</p>
        <p class="edit-col" (click)="onAddTask()">Add Task</p>
        <p class="edit-col" (click)="onLogout()">Logout</p>

    </div>

</div>