.task-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust this value as needed */
}

.task-details {
  max-width: 600px; /* Adjust the maximum width as needed */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-details h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.task-details p {
  margin-bottom: 5px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #08747c;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* Checkbox style */
input[type="checkbox"] {
  margin-right: 5px;
}

.edit-task-form {
  margin-top: 20px;
  max-width: 300px;
  padding: 20px;
  border: 1px solid #08747c;
  border-radius: 5px;
  background-color: #ffffff;
}

.edit-task-form label {
  font-weight: bold;
}

.edit-task-form input[type="text"],
.edit-task-form textarea,
.edit-task-form select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #0a6d70;
  border-radius: 5px;
  box-sizing: border-box;
}

.invalid-feedback {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.edit-task-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #0c807a;
  color: #fff;
  cursor: pointer;
}

.edit-task-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; // Align items at the start of the container
  gap: 10px;
  padding: 0 10px; // Add padding to ensure there's space between the containers and the edges of the screen
}

.task-details-container {
  flex: 1; // Take up remaining space
}

.edit-task-form {
  flex: 1; // Take up remaining space
}

.task-details-container .task-details {
  max-width: 100%; // Adjusted to take full width
}

.edit-task-form {
  max-width: 100%; // Adjusted to take full width
}

@media (min-width: 768px) {
  .container {
    flex-direction: row; // Ensure items are aligned horizontally on larger screens
  }

  .task-details-container {
    max-width: calc(50% - 5px); // Adjusted to take 50% of the screen width with gap included
  }

  .edit-task-form {
    max-width: calc(50% - 5px); // Adjusted to take 50% of the screen width with gap included
  }
}
